In [1]:
x = 15
y = 92739293913928
print(x,y,sep='     ')

15     92739293913928

In [2]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

# Basic Commands

python is awesome

# I am Heading one
## I am heading two
### I am heading threee
i am without any thing

hello
        hi python is interpretedw
we learn about print function and input function that is 
                very easy

In [3]:
print("hello")

hello

<h1 style='color:red'><b>Hello World Welcome to python</b></h1>

In [4]:
import matplotlib.pyplot as plt
import numpy as np

In [5]:
x = np.arange(0,361)

In [6]:
x = x*np.pi
x = x/180
print(x)

[0.         0.01745329 0.03490659 0.05235988 0.06981317 0.08726646
 0.10471976 0.12217305 0.13962634 0.15707963 0.17453293 0.19198622
 0.20943951 0.2268928  0.2443461  0.26179939 0.27925268 0.29670597
 0.31415927 0.33161256 0.34906585 0.36651914 0.38397244 0.40142573
 0.41887902 0.43633231 0.45378561 0.4712389  0.48869219 0.50614548
 0.52359878 0.54105207 0.55850536 0.57595865 0.59341195 0.61086524
 0.62831853 0.64577182 0.66322512 0.68067841 0.6981317  0.71558499
 0.73303829 0.75049158 0.76794487 0.78539816 0.80285146 0.82030475
 0.83775804 0.85521133 0.87266463 0.89011792 0.90757121 0.9250245
 0.9424778  0.95993109 0.97738438 0.99483767 1.01229097 1.02974426
 1.04719755 1.06465084 1.08210414 1.09955743 1.11701072 1.13446401
 1.15191731 1.1693706  1.18682389 1.20427718 1.22173048 1.23918377
 1.25663706 1.27409035 1.29154365 1.30899694 1.32645023 1.34390352
 1.36135682 1.37881011 1.3962634  1.41371669 1.43116999 1.44862328
 1.46607657 1.48352986 1.50098316 1.51843645 1.53588974 1.55334303
 1.57079633 1.58824962 1.60570291 1.6231562  1.6406095  1.65806279
 1.67551608 1.69296937 1.71042267 1.72787596 1.74532925 1.76278254
 1.78023584 1.79768913 1.81514242 1.83259571 1.85004901 1.8675023
 1.88495559 1.90240888 1.91986218 1.93731547 1.95476876 1.97222205
 1.98967535 2.00712864 2.02458193 2.04203522 2.05948852 2.07694181
 2.0943951  2.11184839 2.12930169 2.14675498 2.16420827 2.18166156
 2.19911486 2.21656815 2.23402144 2.25147474 2.26892803 2.28638132
 2.30383461 2.32128791 2.3387412  2.35619449 2.37364778 2.39110108
 2.40855437 2.42600766 2.44346095 2.46091425 2.47836754 2.49582083
 2.51327412 2.53072742 2.54818071 2.565634   2.58308729 2.60054059
 2.61799388 2.63544717 2.65290046 2.67035376 2.68780705 2.70526034
 2.72271363 2.74016693 2.75762022 2.77507351 2.7925268  2.8099801
 2.82743339 2.84488668 2.86233997 2.87979327 2.89724656 2.91469985
 2.93215314 2.94960644 2.96705973 2.98451302 3.00196631 3.01941961
 3.0368729  3.05432619 3.07177948 3.08923278 3.10668607 3.12413936
 3.14159265 3.15904595 3.17649924 3.19395253 3.21140582 3.22885912
 3.24631241 3.2637657  3.28121899 3.29867229 3.31612558 3.33357887
 3.35103216 3.36848546 3.38593875 3.40339204 3.42084533 3.43829863
 3.45575192 3.47320521 3.4906585  3.5081118  3.52556509 3.54301838
 3.56047167 3.57792497 3.59537826 3.61283155 3.63028484 3.64773814
 3.66519143 3.68264472 3.70009801 3.71755131 3.7350046  3.75245789
 3.76991118 3.78736448 3.80481777 3.82227106 3.83972435 3.85717765
 3.87463094 3.89208423 3.90953752 3.92699082 3.94444411 3.9618974
 3.97935069 3.99680399 4.01425728 4.03171057 4.04916386 4.06661716
 4.08407045 4.10152374 4.11897703 4.13643033 4.15388362 4.17133691
 4.1887902  4.2062435  4.22369679 4.24115008 4.25860337 4.27605667
 4.29350996 4.31096325 4.32841654 4.34586984 4.36332313 4.38077642
 4.39822972 4.41568301 4.4331363  4.45058959 4.46804289 4.48549618
 4.50294947 4.52040276 4.53785606 4.55530935 4.57276264 4.59021593
 4.60766923 4.62512252 4.64257581 4.6600291  4.6774824  4.69493569
 4.71238898 4.72984227 4.74729557 4.76474886 4.78220215 4.79965544
 4.81710874 4.83456203 4.85201532 4.86946861 4.88692191 4.9043752
 4.92182849 4.93928178 4.95673508 4.97418837 4.99164166 5.00909495
 5.02654825 5.04400154 5.06145483 5.07890812 5.09636142 5.11381471
 5.131268   5.14872129 5.16617459 5.18362788 5.20108117 5.21853446
 5.23598776 5.25344105 5.27089434 5.28834763 5.30580093 5.32325422
 5.34070751 5.3581608  5.3756141  5.39306739 5.41052068 5.42797397
 5.44542727 5.46288056 5.48033385 5.49778714 5.51524044 5.53269373
 5.55014702 5.56760031 5.58505361 5.6025069  5.61996019 5.63741348
 5.65486678 5.67232007 5.68977336 5.70722665 5.72467995 5.74213324
 5.75958653 5.77703982 5.79449312 5.81194641 5.8293997  5.84685299
 5.86430629 5.88175958 5.89921287 5.91666616 5.93411946 5.95157275
 5.96902604 5.98647933 6.00393263 6.02138592 6.03883921 6.0562925
 6.0737458  6.09119909 6.10865238 6.12610567 6.14355897 6.16101226
 6.17846555 6.19591884 6.21337214 6.23082543 6.24827872 6.26573201
 6.28318531]

In [7]:
sin = np.sin(x)
cos = np.cos(x)

In [ ]:
values = np.arange(0,361)

In [8]:
plt.plot(values,sin)
plt.plot(values,cos,'r:')
plt.show()

NameError: name 'values' is not defined

In [ ]:
x = np.random.normal(50,20,10000)

In [ ]:
print(x)

In [ ]:
len(x)

In [ ]:
plt.hist(x,60)
plt.show()

In [ ]:
np.mean(x)

In [ ]:
print("I can print anything here")

In [ ]:
for var in range(10):
    print("\t!!!What the hack ??")

In [ ]:
x = 5
 = 6.5
z = 6.78+3j

print("Type of x = ",type(x),sep='\t')
print("Type of y = ",type(y))
print("Type of z = ",type(z))y

In [ ]:
x = input("Enter a value : ")
print("Type of input x = ",type(x))
x = int(x)
print("Type of input x = ",type(x))
y = input("Enter a value : ")
print("Type of input x = ",type(y))
y = int(y)
print("Type of input x = ",type(y))
print("Addition of ",x,'+',y,'=',x+y)

In [ ]:
x = int(input("Enter x : "))
y = int(input("Enter y : "))
print("Addition of {} and {} = {} ".format(y,x,x+y))

In [ ]:
name = input("Enter your name : ")
age = int(input("Enter your age : "))
education = input("Enter your Qualification : ")
company = input("Enter your company : ")

print(name,"is a Trainer.Age of ",name,"is ",age,"years",name,"has qualification as ",\
education," and currently working in company called ",company)

In [ ]:
name = input("Enter your name : ")
age = int(input("Enter your age : "))
education = input("Enter your Qualification : ")
company = input("Enter your company : ")

print("{0} is a Trainer.Age of {0} is {1} years {0} has qualification as \
{2} and currently working in company called {3}".format(name,age,education,company))

In [ ]:
x = float(input("A float number "))
print(x)

In [ ]:
x = complex(input("A complex number  : "))
print(x)

In [ ]:
x = int(input("Enter x : "))
y = int(input("Enter y : "))
print("Result {} / {}".format(x,y,))
print("Without round = ",x/y)
print("With round = ",round(x/y))
print("Integer round = ",int(x/y))

In [ ]:
equation = input("Enter your equation : ")
print("Type of equation ",type(equation))
print(equation)
result = eval(equation)
print("Result = ",result)

In [ ]:
s = "Hello world" 
print(type(s))
print(s)
print(dir(s))

In [ ]:
old_string = 'Hello World'
print(dir(old_string))
help(old_string.swapcase)
print("Old one = ",old_string)
new_string = s.swapcase()
print("Swapcase one = ",new_string)

In [ ]:
s = "Hello World"
s1 = s.swapcase()
s2 = s.upper()
s3 = s.lower()
s4 = s.capitalize()
print("Original = ",s)
print("Swapcase = ",s1)
print("Uppercase = ",s2)
print("Lowercase = ",s3)
print("Capitalize = ",s4)

In [ ]:
s = input("Type in something : ")
print(s)

In [ ]:
s = input("Type in something : ")
print("{!r}".format(s))
s1 = s.strip()
print("{!r}".format(s1))
s2 = s.lstrip()
s3 = s.rstrip()
print("{!r}".format(s2))
print("{!r}".format(s3))

In [ ]:
s = """A dog is always behave like a dog but some dogs are cute like cats and 
cats are some time behaving like dogs."""
s1 = s.replace('cat','rabbit')
print(s)
print(s1)

In [ ]:
print(dir(s))

In [ ]:
help(s.center)

In [ ]:
name = "Sachin Yadav"
print(name.center(20,'#'))

In [ ]:
list1 = [ 4,23,54,2,3,54,4432,434 ] # homogenous
list2 = [ 'hello','hi','bye','bye bye','how are you'] #homogenous
print(list1)
print(list2)

In [ ]:
list3 = [ 1,2,'hi','heelo',['1,2,3','hello'],5+6j] #hetrogenous

In [ ]:
print(friends)

In [14]:
friends = [ 'sachin','rohit','rajat','gaurav','sam','vijay','shailen','tanvi','rupali']
print(type(friends))
print(dir(friends))
help(friends.sort)

<class 'list'>
['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']
Help on built-in function sort:

sort(...) method of builtins.list instance
    L.sort(key=None, reverse=False) -> None -- stable sort *IN PLACE*

In [15]:
friends

['sachin',
 'rohit',
 'rajat',
 'gaurav',
 'sam',
 'vijay',
 'shailen',
 'tanvi',
 'rupali']

In [20]:
friends.sort(reverse=True)
friends

['vijay',
 'tanvi',
 'shailen',
 'sam',
 'sachin',
 'rupali',
 'rohit',
 'rajat',
 'gaurav']

In [24]:
s = [ 34,46,412,45,4,21,43,421,24,12]
s.sort(reverse=True)
print(s)

[421, 412, 46, 45, 43, 34, 24, 21, 12, 4]

In [25]:
friend = [ 'sachin','rajat']

In [26]:
friend.append('rakshit')

In [28]:
friend.append('sachin')

In [30]:
friend

['sachin', 'rajat', 'rakshit', 'sahchin', 'sachin']

In [32]:
friend.insert(1,'Grras')

In [42]:
friend

['sachin', 'Grras', 'rajat', 'rakshit', 'nidhi', 'sachin']

In [43]:
pos = friend.index('nidhi')
friend[pos]  = 'tanvi'
friend

['sachin', 'Grras', 'rajat', 'rakshit', 'tanvi', 'sachin']

In [44]:
friend[0] = 'SACHIN'

In [46]:
friend

['SACHIN', 'Grras', 'rajat', 'rakshit', 'tanvi', 'sachin']

In [48]:
friend.extend(['rahul','sam','gaurav','ajaj'])

In [49]:
friend

['SACHIN',
 'Grras',
 'rajat',
 'rakshit',
 'tanvi',
 'sachin',
 'rahul',
 'sam',
 'gaurav',
 'ajaj']

In [50]:
new_list = [ 'one','two']
l = [ 1,23,'hello','hi','bye']

In [51]:
new_list

['one', 'two']

In [52]:
l

[1, 23, 'hello', 'hi', 'bye']

In [53]:
new_list.append(l)

In [54]:
new_list

['one', 'two', [1, 23, 'hello', 'hi', 'bye']]

In [55]:
new_list.pop()

[1, 23, 'hello', 'hi', 'bye']

In [56]:
new_list

['one', 'two']

In [57]:
new_list.extend(l)
new_list

['one', 'two', 1, 23, 'hello', 'hi', 'bye']

In [58]:
new_list.extend('python')
new_list

['one', 'two', 1, 23, 'hello', 'hi', 'bye', 'p', 'y', 't', 'h', 'o', 'n']

In [64]:
print(friend)

['SACHIN', 'Grras', 'rajat', 'rakshit', 'tanvi', 'sachin', 'rahul', 'sam', 'gaurav', 'ajaj']

In [65]:
friend.pop()

'ajaj'

In [66]:
friend.pop(1)

'Grras'

In [67]:
friend

['SACHIN', 'rajat', 'rakshit', 'tanvi', 'sachin', 'rahul', 'sam', 'gaurav']

In [68]:
friend.remove('rahul')

In [69]:
friend.insert(3,'sachin')

In [70]:
friend

['SACHIN', 'rajat', 'rakshit', 'sachin', 'tanvi', 'sachin', 'sam', 'gaurav']

In [71]:
friend.remove('SACHIN')

In [72]:
friend

['rajat', 'rakshit', 'sachin', 'tanvi', 'sachin', 'sam', 'gaurav']

In [73]:
friend.remove('sachin')

In [74]:
friend

['rajat', 'rakshit', 'tanvi', 'sachin', 'sam', 'gaurav']

In [76]:
s = [ 1,1,1,1,1,1,1,1,1,1,1,1,1,2,2,2,2,2,2,2,2,2]

In [77]:
s

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2]

In [78]:
s1 = set(s)
s1

{1, 2}

In [79]:
s2 = list(s1)
s2

[1, 2]

In [80]:
l = [ 'sachin','hello','hi','bye']

In [81]:
l2 = l.copy()

In [82]:
print(l)
print(l2)

['sachin', 'hello', 'hi', 'bye']
['sachin', 'hello', 'hi', 'bye']

In [83]:
l.clear()
print(l)
print(l2)

[]
['sachin', 'hello', 'hi', 'bye']

In [85]:
sachin = [ 100,50,34,45,323,12,563,42,3,54,34,100,5,100,23,35,45,32,42,43,423,100,2,100,100,100]

In [86]:
sachin.count(100)

7

In [87]:
sachin.sort()

In [90]:
l = [ 34,23,45,32,32]
l.sort()

In [91]:
l

[23, 32, 32, 34, 45]

In [92]:
l.sort(reverse=True)
l

[45, 34, 32, 32, 23]

In [93]:
l.reverse()

In [94]:
l

[23, 32, 32, 34, 45]

In [95]:
s  = [ 'hello','hi','sachin',1,2,3]

In [96]:
s.reverse()
s

[3, 2, 1, 'sachin', 'hi', 'hello']

In [102]:
k = ( 1,2,'hello','change')
print(type(k))

<class 'tuple'>

In [100]:
k

(1, 2, 'hello', 'change')

In [101]:
print(dir(k))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [108]:
s = (1,2,3)
s1 = (4,5,6)
s.__add__(s1)

(1, 2, 3, 4, 5, 6)

In [104]:
4 + 5

9

In [105]:
'hello' + 'world'

'helloworld'

In [107]:
[1,2,3] + [ 1,2,3]

[1, 2, 3, 1, 2, 3]

In [109]:
l = [ 'helllo','hi','bye bye',34,5,332,4,53]

In [110]:
l[5]

332

In [111]:
no_of_items = len(l)
print("There are {} items into list {}.".format(no_of_items,l))

There are 8 items into list ['helllo', 'hi', 'bye bye', 34, 5, 332, 4, 53].

In [112]:
s = "Hello World"

In [114]:
s[-5]

'W'

In [115]:
s[1]

'e'

In [116]:
s[-10]

'e'

In [123]:
s1 = s[5:]
print(s1)

 World

In [124]:
s1 = s[0:11:2]

In [125]:
s1

'HloWrd'

In [129]:
s[::-1]

'dlroW olleH'

In [130]:
s = "Hello World"
s[2:11:3]

'l r'

In [131]:
s[-11:-2:2]

'HloWr'

In [132]:
s[-11:-1:-2]

''

In [133]:
s[::-1]

'dlroW olleH'

In [134]:
l = [ 'hello', 'hi',1,2,3,4,5,'bye bye']

In [135]:
len(l)

8

In [136]:
l[5]

4

In [137]:
l[::-1]

['bye bye', 5, 4, 3, 2, 1, 'hi', 'hello']

In [138]:
l[1:7]

['hi', 1, 2, 3, 4, 5]

In [139]:
l[2::2]

[1, 3, 5]

In [141]:
data = {
    'name' : 'sachin',
    'age' : 22,
    'technical_skills' : ['c','c++','java','python','html','linux','cloud'],
    'country' : 'india',
    'graduation' : {
                    '10th' : ['Rajasthan Board',88],
                    '12th' : [ 'Rajashtan Board',85],
                    'Graduation' : ['Ratjasthan Technical University',72]
                        },
    'current_company' : 'Grras Solutions PVT. LTD., jaipur',  
}

In [142]:
print(data)

{'name': 'sachin', 'age': 22, 'technical_skills': ['c', 'c++', 'java', 'python', 'html', 'linux', 'cloud'], 'country': 'india', 'graduation': {'10th': ['Rajasthan Board', 88], '12th': ['Rajashtan Board', 85], 'Graduation': ['Ratjasthan Technical University', 72]}, 'current_company': 'Grras Solutions PVT. LTD., jaipur'}

In [144]:
from pprint import pprint
pprint(data)

{'age': 22,
 'country': 'india',
 'current_company': 'Grras Solutions PVT. LTD., jaipur',
 'graduation': {'10th': ['Rajasthan Board', 88],
                '12th': ['Rajashtan Board', 85],
                'Graduation': ['Ratjasthan Technical University', 72]},
 'name': 'sachin',
 'technical_skills': ['c', 'c++', 'java', 'python', 'html', 'linux', 'cloud']}

In [146]:
data['name']

'sachin'

In [154]:
data['graduation']['10th'].append('i can nesty stuff')

In [164]:
pprint(data)

{'age': 22,
 'country': 'india',
 'current_company': 'Grras Solutions PVT. LTD., jaipur',
 'graduation': {'10th': ['Rajasthan Board', 88, 'i can nesty stuff'],
                '12th': ['Rajashtan Board', 85],
                'Graduation': ['Ratjasthan Technical University', 72]},
 'name': 'sachin',
 'technical_skills': ['c', 'c++', 'java', 'python', 'html', 'linux', 'cloud']}

In [165]:
print(dir(data))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [166]:
data_copy = data.copy()
data.clear()

In [167]:
data

{}

In [169]:
print(dir(data_copy))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [170]:
data = data_copy.fromkeys(data_copy,0)

In [173]:
data = data_copy.copy()

In [182]:
data.get('technical_skillss','Value no Found')

'Value no Found'

In [185]:
key = input("Enter key to know about sachin : ")
d = data.get(key,'Value not Found')
print("Here is the information : ")
print(d)

Enter key to know about sachin : sex
Here is the information :
Value not Found

In [187]:
d = { 'hello':'bye','hi':'bye bye','name':'grras'}

In [189]:
d.items()

dict_items([('hello', 'bye'), ('hi', 'bye bye'), ('name', 'grras')])

In [190]:
d.keys()

dict_keys(['hello', 'hi', 'name'])

In [191]:
d.values()

dict_values(['bye', 'bye bye', 'grras'])

In [192]:
data.items()

dict_items([('name', 'sachin'), ('age', 22), ('technical_skills', ['c', 'c++', 'java', 'python', 'html', 'linux', 'cloud']), ('country', 'india'), ('graduation', {'10th': ['Rajasthan Board', 88, 'i can nesty stuff'], '12th': ['Rajashtan Board', 85], 'Graduation': ['Ratjasthan Technical University', 72]}), ('current_company', 'Grras Solutions PVT. LTD., jaipur')])

In [193]:
data.keys()

dict_keys(['name', 'age', 'technical_skills', 'country', 'graduation', 'current_company'])

In [194]:
data.values()

dict_values(['sachin', 22, ['c', 'c++', 'java', 'python', 'html', 'linux', 'cloud'], 'india', {'10th': ['Rajasthan Board', 88, 'i can nesty stuff'], '12th': ['Rajashtan Board', 85], 'Graduation': ['Ratjasthan Technical University', 72]}, 'Grras Solutions PVT. LTD., jaipur'])

In [195]:
d

{'hello': 'bye', 'hi': 'bye bye', 'name': 'grras'}

In [197]:
d.pop('hi')

'bye bye'

In [198]:
d

{'hello': 'bye', 'name': 'grras'}

In [199]:
d.popitem()

('name', 'grras')

In [200]:
d

{'hello': 'bye'}

In [201]:
update = [  ('name','sachin'), ('city','jaipur'), ('color','fair') ]

In [204]:
d.update(update)

In [205]:
d

{'hello': 'bye', 'name': 'sachin', 'city': 'jaipur', 'color': 'fair'}

In [211]:
d.update([('name','sachin yadav')])
d

{'hello': 'bye', 'name': 'sachin yadav', 'city': 'jaipur', 'color': 'fair'}

In [215]:
d.setdefault('abracadabra','default')

'default'

In [216]:
d

{'hello': 'bye', 'name': 'sachin yadav', 'city': 'jaipur', 'color': 'fair', 'abracadabra': 'default'}