<h1 style='color:#ff0000'>Q. What are <b style='color:#330000'>Operators ? </b> </h1>

<p style='color:#123456'>Operators are special tools by which we can modify or process the data to get desire results.</p>

<p>Operators in Python Language</p>
<ol style='color:blue'>
<li>Arithmatic Operators --> +,-,*,/,//,%,**</li>
<li>Comparision Operators --> ><,<=,>=,==,!= </li>
<li>Logical Operators --> and,or,not</li>
<li>Bitwise Operators (Binary Operators) --> |,&,^,<<,>> </li>
<li>Assignment Operators --> = , +=, -=, *=, /=, //=, %=, **=</li>
<li>Membership Operators --> in, not in</li>
<li>Identity Operators --> is not is</li>
</ol>

<h1>Arithmatic Operators </h1>

In [4]:
# + --> Addition 
#a++, a-- unary operators
# a + b  binary operators
# a > b ? a,b tersary operator
#Addition on Numbers
4+5

9

In [5]:
6.5+7.6

14.1

In [6]:
6+7j + 6.5

(12.5+7j)

In [8]:
#Addition on strings

'hello ' + 'world' # concatination

'hello world'

In [10]:
#Addition on list
['hi',1,2,3 ] + ['hialkjdf',5,6]

['hi', 1, 2, 3, 'hialkjdf', 5, 6]

In [11]:
#on tuples
(1,2,'hi') + ('hi',5,6)

(1, 2, 'hi', 'hi', 5, 6)

In [12]:
#on dictionaries --> addition does not supported by dictionaries
d1 = { 'a':'b'}
d2 = { 'b': 'c'}
d1 + d2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [13]:
s = { 1,2,3,}
s1 = { 5,4,32,1}

s1 + s2

NameError: name 's2' is not defined

In [15]:
# - --> substraction
#try on numbers

x = 5
y = 8
z = x - y # 5 - 8 
z

-3

In [16]:
x  = float(input("Enter x : "))
y = float(input("Enter y : "))
print(x-y)

Enter x : 45.45
Enter y : 65.66
-20.209999999999994

In [17]:
45+6j - 66+7j

(-21+13j)

In [18]:
#strings
s = "Hello"
s1 = "hi"
s - s1

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [19]:
#* operator
#on numbers
6*7

42

In [20]:
6.5*7.5

48.75

In [21]:
(2+3j)*(2-3j)

(13+0j)

In [23]:
# * on strings
'hello' * 3 #--> repation

'hellohellohello'

In [25]:
' '*5

'     '

In [26]:
# on list
[ 1,2,3 ] * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [27]:
[]*5

[]

In [28]:
[ [] ]*5

[[], [], [], [], []]

In [29]:
(1,2,3)*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [30]:
{ 'a':'b'} * 3

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [33]:
x = 623432432432.2134234234234231423142314231
x**9

1.422671147901429e+106

<h1 style='color:#123456'>Comparision Operators</h1>

<ol style='color:#123456'>
<li> < less than </li>
<li> > greater than </li>
<li> <= less than equals to </li>
<li> >= greater than equals to </li>
<li> == equals to equals to </li>
<li> != not equals to </li>
</ol>

In [17]:
r  = int(input("Enter a number : ")) < int(input("Enter a number : "))
print("Is first number is less than second number , ",r)

Enter a number : 6
Enter a number : 1
Is first number is less than second number ,  False

In [18]:
5>6

False

In [20]:
6<=6

True

In [22]:
s1 = input("String1 : ")
s2 = input("String2 : ")

if len(s1) > len(s2) :
    print(s1, "is bigger than ",s2)
else :
    print(s1, "is shorter than ",s2)

String1 : Sachin
String2 : Sachin Yadav
Sachin is shorter than  Sachin Yadav

<h1 style='color:#123456'> Logical Operators</h1>
<ol style='color:#123456'>
    <li>or</li>
    <li>and</li>
    <li>not</li>
</ol>

In [24]:
name = input("Enter your name : ")
if  name : 
    print("Welcome user {} to the world of python.".format(name))
else :
    print("Sorry!! No user name is given by you")

Enter your name :
Sorry!! No user name is given by you

In [26]:
'' or 0

0

In [27]:
4 < 5 or 6 > 7

True

In [28]:
5*2/5-2 or 'hello world'

'hello world'

In [29]:
True and True

True

In [30]:
0 and 1

0

In [31]:
'hello' and []

[]

In [32]:
not True

False

In [33]:
not 0

True

In [34]:
not 1

False

In [35]:
not ''

True

In [36]:
not 'something'

False

In [39]:
x = 5
y = 6
z = 7

xi = int(input("X : "))
yi = int(input("Y : "))
zi = int(input("Z : "))

if x == xi and y == yi and z == zi : 
    print("Good Boy all inputs are correct ")
else : 
    print("Bad Manners your inputs doesn't match mine")

X : 5
Y : 6
Z : 7
Good Boy all inputs are correct

In [40]:
l = [ 1,2,3,'sachin']
'sachin' in l

True

## 4&5

In [42]:
12&7

4

In [43]:
12|7

15

<h1 style='color:#123456'>Bitwise Operators</h1>

<ol style='color:#123456'>
    <li> ~ bit wise negation</li>
    <li> & bit wise and </li>
    <li> | bit wise or </li>
    <li> >> right shift </li>
    <li> << left sift </li>
    <li> ^ bit wise xor </li>
</ol>

In [1]:
x = 61
y = 27

In [4]:
bin(x)

'0b111101'

In [5]:
bin(y)

'0b11011'

In [10]:
print(x)
print(y)
print("Negation of {} is {}.".format(y,~y))

61
27
Negation of 27 is -28.

In [11]:
~1

-2

In [12]:
~0

-1

In [13]:
~34

-35

In [37]:
print("Bitwise & (and) of {} and {} is {}.".format(x,y,x&y))

Bitwise & (and) of 61 and 27 is 25.

In [36]:
print("Bitwise | (or) of {} and {} is {}.".format(x,y,x | y))

Bitwise | (or) of 61 and 27 is 63.

In [33]:
print("Bitwise >> (right shift) of {} >> {} is {}".format(27,3,27>>3))

Bitwise >> (right shift) of 27 >> 3 is 3

In [34]:
print("Bitwise << (left shift) of {} << {} is {}".format(27,3,27<<3))

Bitwise << (left shift) of 27 << 3 is 216

In [35]:
print("Bitwise ^ (xor) of {} << {} is {}".format(x,y,x^y))

Bitwise ^ (xor) of 61 << 27 is 38

<h1 style='color:#123456'>Assignment Operator</h1>

In [39]:
x = 5

In [42]:
name = x

In [45]:
x = (1*5/6**3%2+455//34-2)*0 and (4>5<7 or 8 > 7 )

In [46]:
x

0.0

In [47]:
x = 5
y = 6
x,y = y,x
print(x)
print(y)

6
5

In [48]:
x = 1,2,3,4,5,6,7,8,9
print(x)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [49]:
a,b,c = 1,2,3

In [50]:
print(a,b,c)

1 2 3

In [51]:
x = 5
x += 5 #x = x + 5
x

10

In [52]:
x = 10
x -= 20 # x = x - 20
x

-10

In [53]:
x = 3
x *= 4 # x = x * 3
x

12

In [55]:
x = 10
x /= 3
x

3.3333333333333335

In [56]:
x = 10
x = x // 3
x

3

In [58]:
x = 10 
x %= 3
x

1

In [59]:
x = 7 
x **= 2 # x = x ** 2
x

49

In [63]:
points = 15
points = points + 5
points = points - 5
my_daily_expenses = 15000
my_daily_expenses += 100


l = [ 1,2,3]

l += [ 4,5,6]
l

[1, 2, 3, 4, 5, 6]

In [65]:
#membership operator  in , not in 
'sachin' not in [ 12,56,'sachin']

False

In [66]:
#identity operators 
x = 1234
y = 1234
print(id(x))
print(id(y))

1710037341808
1710037340656

In [67]:
x is y

False

In [68]:
x = 12345
y  = x
print(id(x))
print(id(y))

1710037342000
1710037342000

In [69]:
x is y

True

In [70]:
s = 'sachin'
y = 'sachin'
s is y

True

In [71]:
print(id(s))
print(id(y))

1710036121896
1710036121896