In [1]:
import sqlite3 as sql

In [2]:
con = sql.connect('mydatabase.db')

In [3]:
ls

 Volume in drive C has no label.
 Volume Serial Number is F835-3256

 Directory of C:\Users\sachin\Documents\GitHub\Python_Codes\batch_5pm\data_sciennce\DATABASE

11/29/2018  06:10 PM    <DIR>          .
11/29/2018  06:10 PM    <DIR>          ..
11/29/2018  06:08 PM    <DIR>          .ipynb_checkpoints
06/13/2018  07:44 AM               989 Changelog
11/23/2018  06:07 PM            35,893 DABASE.png
11/29/2018  06:10 PM               746 Database_Connectivity_with_Python.ipynb
11/23/2018  07:25 PM            41,815 DATABASE1.png
06/13/2018  07:44 AM             4,320 employees.sql
06/13/2018  07:44 AM             6,453 employees_partitioned.sql
06/13/2018  07:44 AM             8,147 employees_partitioned_5.1.sql
11/23/2018  06:14 PM    <DIR>          images
06/13/2018  07:44 AM               260 load_departments.dump
06/13/2018  07:44 AM        14,491,483 load_dept_emp.dump
06/13/2018  07:44 AM             1,138 load_dept_manager.dump
06/13/2018  07:44 AM        18,022,856 load_employees.dump
06/13/2018  07:44 AM        40,773,364 load_salaries1.dump
06/13/2018  07:44 AM        40,752,967 load_salaries2.dump
06/13/2018  07:44 AM        40,010,648 load_salaries3.dump
06/13/2018  07:44 AM        22,152,044 load_titles.dump
11/29/2018  06:10 PM                 0 mydatabase.db
06/13/2018  07:44 AM             4,793 objects.sql
06/13/2018  07:44 AM             4,114 README.md
11/23/2018  06:14 PM    <DIR>          Sakila
06/13/2018  07:44 AM               277 show_elapsed.sql
06/13/2018  07:44 AM             1,872 sql_test.sh
06/13/2018  07:44 AM             5,002 test_employees_md5.sql
06/13/2018  07:44 AM             5,004 test_employees_sha.sql
11/23/2018  09:30 AM    <DIR>          World
              22 File(s)    176,324,185 bytes
               6 Dir(s)  100,696,248,320 bytes free

In [4]:
pwd

'C:\\Users\\sachin\\Documents\\GitHub\\Python_Codes\\batch_5pm\\data_sciennce\\DATABASE'

In [5]:
cd ..

C:\Users\sachin\Documents\GitHub\Python_Codes\batch_5pm\data_sciennce

In [6]:
cd DATABASE

C:\Users\sachin\Documents\GitHub\Python_Codes\batch_5pm\data_sciennce\DATABASE

In [9]:
%%writefile hello_sachin.py
def hello(name):
    print(f"Hello {name}")
    
hello('sachin')

Writing hello_sachin.py

In [10]:
ls

 Volume in drive C has no label.
 Volume Serial Number is F835-3256

 Directory of C:\Users\sachin\Documents\GitHub\Python_Codes\batch_5pm\data_sciennce\DATABASE

11/29/2018  06:14 PM    <DIR>          .
11/29/2018  06:14 PM    <DIR>          ..
11/29/2018  06:08 PM    <DIR>          .ipynb_checkpoints
06/13/2018  07:44 AM               989 Changelog
11/23/2018  06:07 PM            35,893 DABASE.png
11/29/2018  06:14 PM             4,648 Database_Connectivity_with_Python.ipynb
11/23/2018  07:25 PM            41,815 DATABASE1.png
06/13/2018  07:44 AM             4,320 employees.sql
06/13/2018  07:44 AM             6,453 employees_partitioned.sql
06/13/2018  07:44 AM             8,147 employees_partitioned_5.1.sql
11/29/2018  06:14 PM                67 hello_sachin.py
11/23/2018  06:14 PM    <DIR>          images
06/13/2018  07:44 AM               260 load_departments.dump
06/13/2018  07:44 AM        14,491,483 load_dept_emp.dump
06/13/2018  07:44 AM             1,138 load_dept_manager.dump
06/13/2018  07:44 AM        18,022,856 load_employees.dump
06/13/2018  07:44 AM        40,773,364 load_salaries1.dump
06/13/2018  07:44 AM        40,752,967 load_salaries2.dump
06/13/2018  07:44 AM        40,010,648 load_salaries3.dump
06/13/2018  07:44 AM        22,152,044 load_titles.dump
11/29/2018  06:10 PM                 0 mydatabase.db
06/13/2018  07:44 AM             4,793 objects.sql
06/13/2018  07:44 AM             4,114 README.md
11/23/2018  06:14 PM    <DIR>          Sakila
06/13/2018  07:44 AM               277 show_elapsed.sql
06/13/2018  07:44 AM             1,872 sql_test.sh
06/13/2018  07:44 AM             5,002 test_employees_md5.sql
06/13/2018  07:44 AM             5,004 test_employees_sha.sql
11/23/2018  09:30 AM    <DIR>          World
              23 File(s)    176,328,154 bytes
               6 Dir(s)  100,715,630,592 bytes free

In [2]:
!python hello_sachin.py

Hello sachin

In [ ]:
!python C:/Users/sachin/Documents/GitHub/Python_Codes/batch_5pm/basic_python/prime.py

In [1]:
def abracadabra():
    print("Time pass")

In [2]:
abracadabra()

Time pass

In [4]:
%%timeit 
l = []
for var in range(1234567) : 
    l.append(var*var)

361 ms ± 8.13 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [ ]:
%%time 
l = [ var for var in range(99) ]

In [ ]:
print("Hello World")